@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>This page is running on you local server. Security should not be much of a problem for you. Use this page to detail your site's privacy policy.</p>
